@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f9f8f7;
    
}
html, body {
    height: 100%;
    margin: 0;
  
  }
  
 .parent {
    color: #beb3a8;
  }



  .swiper-button-next,
.swiper-button-prev {
  width: 24px; /* Customize size */
  height: 24px; /* Customize size */
  background-size: 16px 16px; /* Customize background size if needed */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px; /* Customize icon size */
}

 