@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f9f8f7;
    
}
html, body {
    height: 100%;
    margin: 0;
  
  }
  
 .parent {
    color: #beb3a8;
  }


.swiper-button-next::after {
  content: '>';
  width: 23px; 
  height: 23px; 
  font-size: 23px; 
  line-height: 24px; 

 
  display: inline-block;
  text-align: center; 
  color: blue; 
}


.swiper-button-prev::after {
  content: "<"; 
  width: 23px; 
  height: 23px; 
  font-size: 23px; 
  line-height: 24px;
  
 
  display: inline-block; 
  text-align: center; 
  color: blue; 
}


.gm-error-message {
  display: none !important;
}
.gm-error-message {
  display: none !important;
}
